%h1 Albumy

%table
  %tr
    %th Rodzic
    %th Tytuł
    %th Zdjęć

  -for album in @albums
    %tr
      %td=h album.parent_id
      %td=h album.title
      %td
        - if album.top?
          TOP
        - elsif album.down?
          DOWN
        - else
          ZAWIERA INNE
      %td=h album.photos.accepted.size
  
      %td= link_to 'Show', album_path(album)
      %td= link_to 'Edit', edit_album_path(album)
      %td= link_to 'Destroy', album_path(album), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete
    
= link_to 'New album', new_album_path 